{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

<div class="about-container" id="about">
    <div class="container">
        <h2 class="text-center">About HabitFit Tracker</h2>
        <p class="lead text-center">HabitFit Tracker is designed to help you establish and maintain healthy habits. Whether you're looking to improve your fitness, diet, or daily routine, our app helps you succeed.</p>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        


                        <h3 class="card-title">Meet Our Team</h3>
                        <div class="row">
                        <div class="col-md-6 mb-4">
                            <img src="{{ url_for('static', filename='images/san.png') }}" alt="Team Member 1" class="img-fluid rounded-circle mb-2">
                            <h4>Sandrine U</h4>
                            <p>Software Engineer</p>
                            <a href="mailto:sandrine@alx.com" class="btn btn-primary btn-sm">Contact Her</a>
                            <p><a href="https://www.instagram.com/sandrine_latrie/" ><b>Instagram</b></a>
                            <a href="https://x.com/Sandrinerw"><b>Twitter</b></a></p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="{{ url_for('static', filename='images/napt.png') }}" alt="Team Member 2" class="img-fluid rounded-circle mb-2">
                            <h5>Naphtal U</h5>
                            <p>Software Developer</p>
                            <a href="mailto:napthal@alx.com" class="btn btn-primary btn-sm">Contact Him</a>
                        </div>
                        </div>


                        <h3 class="card-title">Features</h3>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check"></i> Customizable habit tracking</li>
                            <li><i class="fas fa-check"></i> Daily reminders and notifications</li>
                            <li><i class="fas fa-check"></i> Progress charts and statistics</li>
                            <li><i class="fas fa-check"></i> Community support and challenges</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">Our Mission</h3>
                        <p class="card-text">Our mission is to empower individuals to take control of their habits and achieve their personal goals. We believe that small, consistent actions can lead to significant improvements in health and well-being.</p>
                        <h3 class="card-title">Why Choose Us?</h3>
                        <p class="card-text">HabitFit Tracker offers a user-friendly interface, robust features, and a supportive community. Our app is backed by research and designed to help you stay motivated and accountable.</p>
                        <h3 class="card-title">Github access</h4>
                        <p class="card-text"><h6>Click on this link to access the project project, <a href="https://github.com/2100032578cse/Habitfit"> Link</a></h6></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
