{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Habitfit Tracker</h1>
  <p class="lead">Track your habits and improve your lifestyle.</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('main.signup') }}" role="button">Sign Up</a>
  <a class="btn btn-secondary btn-lg" href="{{ url_for('main.login') }}" role="button">Login</a>
</div>
<div class="container-fluid">
  {% include 'blog.html' %}
</div>
<div class="container-fluid">
  {% include 'testimonial.html' %}
</div>

{% endblock %}

