{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/testimonial.css') }}">
{% endblock %}

<title>Testimonial Carousel</title>
  <section class="gradient-custom">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="text-center mb-4 pb-2">
            <i class="fas fa-quote-left fa-3x text-white"></i>
          </div>
  
          <div class="card">
            <div class="card-body px-4 py-5">
              <!-- Carousel wrapper -->
              <div id="carouselDarkVariant" data-mdb-carousel-init class="carousel slide carousel-dark" data-mdb-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators mb-0">
                  <button data-mdb-button-init data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button data-mdb-button-init data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button data-mdb-button-init data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
  
                <!-- Inner -->
                <div class="carousel-inner pb-5">
                  <!-- Single item -->
                  <div class="carousel-item active">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='images/profile-picture.png') }}"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">Naphtal U., 25, AI Developer</h4>
                            <p class="mb-0 pb-3">
                                "Using the Habitfit Tracker has been a game-changer for me. As a Artificial Intelligence developer, I often found myself sitting for long hours, neglecting my health. The daily reminders and progress tracking features helped me incorporate regular exercise and healthy eating into my routine. I've lost 15 pounds and feel more energetic than ever. Habitfit isn't just an app; it's a lifestyle companion!"
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Single item -->
                  <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='images/profile-picture.png') }}"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">Sandrine U., 24, Software Developer</h4>
                            <p class="mb-0 pb-3">
                                "I always struggled with sticking to my goals, whether it was drinking more water, meditating, or keeping a journal. Habitfit Tracker made it so easy to stay accountable. The visual progress charts and community support feature kept me motivated. I've developed several positive habits over the past six months, and I can honestly say I'm a happier, healthier person because of it."
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Single item -->
                  <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='images/profile-picture.png') }}"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">Michael T., 42, Entrepreneur</h4>
                            <p class="mb-0 pb-3">
                                "Balancing work and personal life has always been a challenge for me. Habitfit Tracker helped me create a structure that I desperately needed. The personalized habit suggestions were incredibly insightful. I now have a consistent morning routine, and I make time for self-care and family, which has drastically improved my productivity and overall well-being. This app is a must-have for anyone looking to improve their lifestyle."
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Inner -->
  
                <!-- Controls -->
                <button data-mdb-button-init class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button data-mdb-button-init class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- Carousel wrapper -->
            </div>
          </div>
  
          <div class="text-center mt-4 pt-2">
            <i class="fas fa-quote-right fa-3x text-white"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
